<!doctype html>
<title>&#x1F60D;</title>
{% if evaluation %}
  <ul class=flashes>
  {% with message, category = evaluation %}
    <li class="{{ category }}">{{ message }}</li>
  {% endwith %}
  </ul>
{% endif %}
{% block body %}{% endblock %}