{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block scripts %}
<script src="{{url_for('.static', filename='myscripts.js')}}"></script>
{{super()}}
{% endblock %}

{% block title %}&#x1F60D;{% endblock %}

{% block content %}
<div class="container">

{% if evaluation %}
  {% with message, category = evaluation %}
    <div class="alert alert-{{ category }} text-center" role="alert"><strong>{{ message }}<strong></div>
  {% endwith %}
{% endif %}

<div class="row">
  <form method=get class="col-sm-4 col-sm-offset-4">
    <div class="form-group">
      <label>English: </label>
      <input class="form-control" type=text name="english" value="{{ pair.english }}" readonly>
    </div>
    <div class="form-group">
      <label>German: </label>
      <input class="form-control" type=text name="german">
    </div>
    <button type=submit class="btn btn-primary form-control">Check</button>
  </form>
</div>
</div>
{% endblock %}